<!DOCTYPE html>
<html>
<head>
  <title>Library - Books</title>
</head>
<body>
  <h1>Books in the Library</h1>
  <table style="width: 80%;" border="1">
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Quantity</th>
      <th>ISBN</th>
      <th>Register Date</th>
      <th>Actions</th>
    </tr>
    <% books.forEach(function(book) { %>
      <tr>

        <td>
          <%= book.title %>
        </td>
        <td>
          <%= book.author %>
        </td>
        <td>
          <%= book.quantity %>
        </td>
        <td>
          <%= book.isbn %>
        </td>
        <td>
          <%= book.registerDate %>
        </td>
        <td>
          <form method="POST" action="/books/<%= book.id %>?_method=DELETE">
            <button type="submit">Delete</button>
          </form>
          <form method="GET" action="/books/edit/<%= book.id %>">
            <button type="submit">Edit</button>
          </form>
        </td>
      </tr>
      <% }); %>
  </table>
  <br>
  <form>
    <input type="button" value="Add Book" onclick="window.location.href='/books/new'">
  </form>
  <form>
    <input type="button" value="Back" onclick="window.location.href='/'">
  </form>
</body>
</html>